body {
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    background-color: #e9d48b;
}

header {
    text-align: center;
    padding: 0.5rem;
}

.header-img {
    background-color: #665f46;
    background-image: url("../image/foret.jpg");
    background-size: cover;
    height: 300px;
    color: wheat;
    background-blend-mode: multiply;
}


header h1 {
    font-size: 45px;
    padding: 3rem;
}

header h2 {
    font-size: 35px;
    padding: 0 0.5rem;
}

main {
    margin-top: 6rem;
}

article {
    text-align: center;
}
article h3 {
    padding: 2rem;
    font-size: 25px;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #665f46;
    color: white;
    text-align: center;
}