body {
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    background-image: url("anais-et-ugo.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: #A3CCAB;
    color: white;
}

.container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header-img {
    background-color: #665f46;
    text-align: center;
    width: 100%;
}

header {
    display: flex;
    justify-content: center;
    padding: 0.5rem;
    color: rgb(255, 255, 255);
}

header h1 {
    font-size: 25px;
    font-weight: bolder;

}

header h2 {
    font-size: 20px;
    padding: 0 0.6rem;
    padding-bottom: 1rem;
}

main {
    padding-bottom: 3rem;
}

article {
    text-align: center;
    margin-top: 10rem;
}

article h3 {
    padding: 1.5rem;
    font-size: 25px;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #665f46;
    color: white;
    text-align: center;
    font-size: 0.8rem;
}

footer strong {
    font-size: 20px;
    
}