body {
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    background-color: #A3CCAB;
    background-image: url("/Baby-Shower/453880691_1262001438163318_5953848727180798725_n.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100dvh;
    width: 100dvh;
    color: white;
}


.header-img {
    background-color: #665f46;
}

header {
    text-align: center;
    padding: 0.5rem;
    color: rgb(255, 255, 255);
}

header h1 {
    font-size: 30px;
    padding: 1rem;
}

header h2 {
    font-size: 20px;
    padding: 0 0.6rem;
    padding-bottom: 1rem;
}

main {
    padding-bottom: 3rem;
}

article {
    text-align: center;
    margin-top: 10rem;
}

article h3 {
    padding: 1.5rem;
    font-size: 25px;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #665f46;
    color: white;
    text-align: center;
    font-size: 0.8rem;
}

footer strong {
    font-size: 20px;
}